/* google font ('Poppins', sans-serif)*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;500;700&display=swap');
*{
    /* reseting browser default margin,paddin value */
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
html{
    font-family:'Poppins', sans-serif;
    font-weight: 300;
    font-size:16px;
    scroll-behavior: smooth;
}
:root{
    /* color variables */
    --primary-color:#33CF93;
    --primary-color-dark:#025163;
    --secondary-color:#FFF500;
    --black-color:#000000;
    --black-color-2:#222222;
    --gray-color:#929292;
    --white-color:#ffffff;
    --white-color-2:#e7e7e7;
}
/* scroll bar */
::-webkit-scrollbar{
    width: 13px;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
}
::-webkit-scrollbar-thumb {
    background-color: var(--primary-color-dark);
    border-radius: 10px;
  }
::-webkit-scrollbar-thumb:hover {
    cursor: pointer;
    background-color: var(--primary-color);
}
header{
    width: 100%;
    height: 100vh;
    background: linear-gradient(60deg, var(--primary-color), var(--primary-color-dark));
    position:relative;
    display:grid;
    grid-template-columns: 5fr 2fr;
    grid-template-rows: 8vh 62vh;
    z-index:1;
    
}
header::before{
    content:"";
    position:absolute;
    width:100%;
    height:100%;
    background:url(../images/header_img.svg) no-repeat right center;
    background-size:50%;
    z-index:-1;
}
header .header_wave{
    width: 100%;
    position:absolute;
    bottom: 0;
    left: 0;
}
nav{
    height: 8vh;
    width: 100%;
    background-color:var(--white-color);
    grid-column:1/-1;
    z-index:10;
    padding:0 15px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    color:var(--black-color-2)
}
nav .logo{
    flex: 1;
}
nav .logo h2{
    font-weight: 400;
    letter-spacing: 1.2px;
}
nav .menus{
    flex: 2;
    display: flex;
    justify-content: center;
}
.menus .links{
    display: flex;
    list-style-type: none;
}
.links .link{
    margin: 0 10px;
}
.links .link a{
    text-decoration: none;
    color: var(--black-color);
    font-weight: 300;
    position: relative;
    padding: 8px 7px;
}
.link a:hover, .link a.active{
    font-weight: 400;
}
.link a::before{
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 50%;
    background-color: var(--primary-color);
    transform: translate(-50%,0);
    transition: .3s all;
}
.link a.active::before{
    width: 100%;
}
.link a:hover::before{
    width: 100%;
}
nav .btn_nav{
    flex: 1;
    text-align: right;
}
.btn_nav button{
    padding: 8px 12px;
    font-size: 1rem;
    border-radius: 8px;
    border: none;
    background-color: var(--secondary-color);
    cursor: pointer;
}

nav.active-scroll{
    position: sticky;
    top:0;
    left: 0;
}
.header_content{
    place-self: center;
}
.header_content h1{
    font-size: calc(2rem + 1vw);
    font-weight: 400;
    color:var(--secondary-color);
}
.header_content .highlight{
    background-color:var(--white-color);
    padding:0 7px;
    clip-path: polygon(100% 0, 100% 50%, 100% 100%, 0% 100%, 0 35%, 6% 0);
    border-radius: 8px;
    color:var(--black-color-2);
}
.btn_container{
    margin-top:2rem;
}
.btn_container button{
    padding:10px 15px;
    border-radius: 25px;
    border: 3px solid var(--white-color-2);
    outline: none;
    font-size: calc(1.2rem);
    background-color:transparent;
    width:120px;
    color:var(--white-color);
}   
.btn_container button:hover{
    cursor: pointer;
    background-color: rgba(231, 231, 231, 0.281) ;
}

.btn-our-team{
    margin-left:1.2rem;
    background-color: rgba(231, 231, 231, 0.281) !important;
}


/* about us */
#about_us{
    padding: 3rem 1rem;
    width: 100%;
    overflow-x: auto;
    overflow: hidden;
}
.section_heading{
    text-align: center;
    padding-bottom: 2rem;
    font-weight: 500;
    font-size: calc(2rem + 1vw);
    color:var(--black-color-2)
}
.about_row{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin:1.5rem auto;
}
.about_section2{
    margin-top: 5rem;
}
.about_section2 .img{
    text-align: right;
}
.about_row .img{
    flex: 1;
}
.about_row .img img{
    width: 35vw;
}
.about_row .text{
    flex: 1;
}
.about_row .text p{
    line-height: 1.9;
    font-size: calc(.3rem + 1vw);
    font-weight: 300;
    color: var(--black-color-2);
}


/* ======================About Us , Services ============================= */

.service_box_container{
    width: 85%;
    display: flex;
    justify-content: space-around;
    margin: auto;
}
.service_box{
    width: calc(100% /3.5);
    height: calc(75vw /4);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    transition:.3s;
}
.service_box:hover{
    border: 1px solid black;
    transform: scale(1.1);
}
.service_box .img{
    width: 100%;
    height: 65%;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
}
.service_box .img img{
    width: 35%;
}
.service_box .text{
    display: flex; 
    gap: 10px;
    padding: 5px;
}
.service_box .text p{
    font-size: calc(.2rem + 1vw);
}
.service_box .text i{
    font-size: calc(1.3rem + 1vw);
    color: rgb(0, 214, 0);
}

/* ========================work_exprience============= */
#work_exprience{
    margin: 3rem 0;
    /* width: 100%; */
    height: 120vh;
    background-image: url('../images/work_exprience_bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 65% 100%, 50% 90%, 35% 100%, 0 100%);
}
#work_exprience .wave{
    width: 100%;
    overflow: hidden;
    position: absolute;
    top: -3px;
    left: 0;
}
#work_exprience .wave img{
    width: 100%;
}
#work_exprience .experience_heading{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,0);
}
.exprience_box_contianer{
    width: 90%;
    height:300px;
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
}
.exprience_box{
    box-shadow: rgba(253, 252, 252, 0.56) 0px 22px 70px 4px;
    transition: .3s;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1.2rem;
}
.exprience_box:hover{
    transform: scale(1.1);
    border: var(--white-color) solid 1px;
}
.exprience_box_contianer .exprience_box{
    width: calc(100% /3.5);
    height: 100%;
    background-color: #025163;
}
.exprience_box .number{
    color: var(--secondary-color);
    font-size: calc(1.2rem + 1vw);
    font-weight: 500;
}
.exprience_box .project{
    color: var(--primary-color);
    font-size: calc(1rem + 1vw);
    font-weight: 500;
}
.exprience_box .para{
    color: var(--white-color);
    font-size: 15px;
    font-weight: 500;
}
.project_img img{
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#contact_us .contact_us_container{
    width: 100%;
    height: 80vh;
    background: url('../images/contact_container.png');
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.contact_us_map_and_form{
    width: 85%;
    height: 80%;    
    background-color: var(--primary-color);
    display: flex;
}
.map{
    height: 100%;
    flex: 1;
}
.map iframe{
    height: 100%;
    width: 100%;
}
.form{
    width: 50%;
    height: 100%;
    flex: 1;
    background-color: var(--primary-color);
    position: relative;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}
.form::before{
    content: "";
    position: absolute;
    top: 30px;
    left: -30px;
    width: 60px;
    height: 60px;
    background-color: var(--primary-color);
    transform: rotate(45deg);
}
.form .form_box{
    width: 60%;

}
.form_box form{
    display: flex;
    gap: 1rem;
    flex-direction: column;
}
.form_box form input,.form_box form textarea{
    padding: 5px 10px;
    width: 100%;
    height: 30px;
    border: 3px solid rgb(255, 255, 255);
    background-color: #c1ffd3da;
    outline: none;
    font-size:12px;
    border-radius: 8px;
}
.form_box form textarea{
    width: 100%;
    height: 140px;
}
.form_box form .submit_btn{
    background-color: var(--white-color);
    font-size: 16px;
}
.form_box form .submit_btn:hover{
    background-color: #c1ffd3da;
    cursor: pointer;
}

/* footer */
footer{
    position: relative;
    width: 100%;
    height: 80vh;
    overflow: hidden;
    background:linear-gradient(to right, var(--primary-color),var(--primary-color-dark)) ;
    /* align-items: center; */
}
.footer_content{
    width: 90%;
    display: flex;
    padding: 2rem;
}
.footer_content .col{
    border-left: 2px solid var(--primary-color);
}
.footer_content .col address{
    color: var(--white-color);
    line-height: 1.7;
}
.footer_content .heading{
    padding: 10px 0;
    padding-left: 10px;
    font-weight: 400;
    color: var(--secondary-color);
    font-weight: bold;
    text-align: center;
    flex: 1;
}
.footer_content .col{
    width: calc(100%/3.5);
    height: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.footer_content .col_links{
    color: var(--white-color);
    transition: .3s;
}
.footer_content .footer_content_container ul li:hover{
    color: var(--white-color);
    transform: scale(1.5);
}
.footer_content_container{
    flex: 5;
}
.footer_content_container ul{
    display: flex;
    list-style-type: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    gap: 10px;
}
.footer_content_container ul li{
    display: flex;
    width: 100px;
    align-items: center ;
    transition: .4s;
}
.footer_content_container ul li a{
    flex: 5;
    text-decoration: none;
}
.footer_content_container ul li i{
    flex: 1;
    color: white;
    padding:0 3px ;
}
.quick_links_container{
    flex: 5;
}
.importent_notice{
    max-width: 500px;
    font-size: calc(.5rem + 1vw);
    font-weight: 300;
    margin: .5rem 3rem;
    color: var(--black-color-2);
}
.importent_notice a{
    color: var(--black-color-2);
    animation: link_blink 1s infinite;
}
@keyframes link_blink {
    0%{
        color: var(--secondary-color);
    }
    100%{
        color: red;
    }
}
footer img{
    position: absolute;
    bottom: 0;
    right: -10%;
    width: 40%;
}
.copyright_container{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 8vh;
    background-color: var(--primary-color-dark);
}
.copyright_container_para{
    color: var(--white-color);
    text-align: center;
    font-size: calc(.2rem + .8vw);
    height: 100%;
    padding-top: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}