/* google font ('Poppins', sans-serif)*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;500;700&display=swap');
*{
    /* reseting browser default margin,paddin value */
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
html{
    font-family:'Poppins', sans-serif;
    font-weight: 300;
    font-size:16px;
    scroll-behavior: smooth;
}
:root{
    /* color variables */
    --primary-color:#33CF93;
    --primary-color-dark:#025163;
    --secondary-color:#FFF500;
    --black-color:#000000;
    --black-color-2:#222222;
    --gray-color:#929292;
    --white-color:#ffffff;
    --white-color-2:#e7e7e7;
}
header{
    width: 100vi;
    height: 100vh;
    background: linear-gradient(60deg, var(--primary-color), var(--primary-color-dark));
    position:relative;
    display:grid;
    grid-template-columns: 5fr 2fr;
    grid-template-rows: 8vh 62vh;
    z-index:1;
    
}
header::before{
    content:"";
    position:absolute;
    width:100%;
    height:100%;
    background:url(../images/header_img.svg) no-repeat right center;
    background-size:50%;
    z-index:-1;
}
header .header_wave{
    width: 100%;
    position:absolute;
    bottom: 0;
    left: 0;
}
nav{
    height: 8vh;
    width: 100%;
    background-color:var(--white-color);
    grid-column:1/-1;
    z-index:10;
    padding:0 15px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    color:var(--black-color-2)
}
nav .logo{
    flex: 1;
}
nav .logo h2{
    font-weight: 400;
    letter-spacing: 1.2px;
}
nav .menus{
    flex: 2;
    display: flex;
    justify-content: center;
}
.menus .links{
    display: flex;
    list-style-type: none;
}
.links .link{
    margin: 0 10px;
}
.links .link a{
    text-decoration: none;
    color: var(--black-color);
    font-weight: 300;
    position: relative;
    padding: 8px 7px;
}
.link a:hover, .link a.active{
    font-weight: 400;
}
.link a::before{
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 50%;
    background-color: var(--primary-color);
    transform: translate(-50%,0);
    transition: .3s all;
}
.link a.active::before{
    width: 100%;
}
.link a:hover::before{
    width: 100%;
}
nav .btn_nav{
    flex: 1;
    text-align: right;
}
.btn_nav button{
    padding: 8px 12px;
    font-size: 1rem;
    border-radius: 8px;
    border: none;
    background-color: var(--secondary-color);
    cursor: pointer;
}

nav.active-scroll{
    position: sticky;
    top:0;
    left: 0;
}
.header_content{
    place-self: center;
}
.header_content h1{
    font-size: calc(2rem + 1vw);
    font-weight: 400;
    color:var(--secondary-color);
}
.header_content .highlight{
    background-color:var(--white-color);
    padding:0 7px;
    clip-path: polygon(100% 0, 100% 50%, 100% 100%, 0% 100%, 0 35%, 6% 0);
    border-radius: 8px;
    color:var(--black-color-2);
}
.btn_container{
    margin-top:2rem;
}
.btn_container button{
    padding:10px 15px;
    border-radius: 25px;
    border: 3px solid var(--white-color-2);
    outline: none;
    font-size: calc(1.2rem);
    background-color:transparent;
    width:120px;
    color:var(--white-color);
}   
.btn_container button:hover{
    cursor: pointer;
    background-color: rgba(231, 231, 231, 0.281) ;
}

.btn-our-team{
    margin-left:1.2rem;
    background-color: rgba(231, 231, 231, 0.281) !important;
}


/* about us */
#about_us{
    padding: 3rem 1rem;
    width: 100vi;
    overflow-x: auto;
}
.about_heading{
    text-align: center;
    padding-bottom: 2rem;
    font-weight: 500;
    font-size: calc(2rem + 1vw);
    color:var(--black-color-2)
}
.about_row{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin:2rem auto;
}
.about_section2 .img{
    text-align: right;
}
.about_row .img{
    flex: 1;
}
.about_row .img img{
    width: 35vw;
}
.about_row .text{
    flex: 1;
}
.about_row .text p{
    line-height: 1.9;
    font-size: calc(.3rem + 1vw);
    font-weight: 300;
    color: var(--black-color-2);
}


/* ======================About Us , Services ============================= */

.service_box_container{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.service_box{
    width: 350px;
    height: 300px;
    box-shadow: 2px 2px 20px -10px;
}
.service_box .img{
    width: 100%;
    height: 70%;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
}
.service_box .img img{
    width: 45%;
}