/*  */
.scale{
    transform: scale(.5) !important;
}
.transition{
    transition: all .5s !important;
}
.transition_long{
    transition: all .7s !important;
}
.fade{
    opacity: 0 !important;
    transform:translateY(200px) !important ;
}
.move_to_right{
    transform: translate(400px,0) !important;
}
.move_to_left{
    transform: translate(-400px,0) !important;
}
.blur{
    filter: blur(10px);
}